@font-face {
  font-family: 'tahu';
  src: url('../fonts/tahu.woff2') format('woff2'),
    url('../fonts/tahu.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source';
  src: url('../fonts/source_regular.woff2') format('woff2'),
    url('../fonts/source_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'source black';
  src: url('../fonts/source_black.woff2') format('woff2'),
    url('../fonts/source_black.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
html{
  min-height: 100vh;
}
body {
  font-family: "source", "Open Sans", sans-serif;
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
body::before{
  content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../img/bg.jpg") center center;
    opacity: .4;
    background-size:cover;
}
h2, h3 {
  font-family:"source black", "Open Sans", sans-serif;
}
#msg{
  position: absolute;
  top: 50%;
  padding:1rem;
  font-weight: bold;
  text-align: center;
  left: 40%;
}
/********* LOGO ********/
.alaska {
  font-family: "tahu", "Open Sans", sans-serif;
  font-size: 4.5rem;
  padding-left: 0.5rem;
}
.alaska a{
  color:#fff;
}
.alaska a:hover{  
  color:#fff;
  text-decoration: none;
}
.alaska-author{
  font-family: "tahu", "Open Sans", sans-serif;
  font-size:1.6rem;
}
.logo-title{
  font-weight:bold;
  font-size:1.5rem;
}
/******** CARD *********/
  .cards-bg {
    background:#fff;
    border-radius: 0.25rem;
    padding:1.5rem;
  }
.card-title {
  font-size: 2.2rem;
  font-family:"source black", "Open Sans", sans-serif;
}
thead{
  font-family:"source black", "Open Sans", sans-serif;
}
tbody tr td:first-child {
  font-family:"source black", "Open Sans", sans-serif;
}
.admin-posts tbody tr td:nth-child(3), .admin-report tbody tr td:nth-child(4) {
  font-family:"source black", "Open Sans", sans-serif;
}
/******** MENU *********/

h4 {
  margin: 0;
  padding: 5% 0 0;
  text-align: center;
  color: #333;
}

a {
  text-decoration: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

/* OPEN - CLOSE BUTTONS */

.menu-btn {
  position: absolute;
  display: inline;
  top: 0;
  right: 20px;
  font-size: 22px;
  z-index: 999;
}

.menu-btn a {
  display: inline-block;
  text-decoration: none;
}

.btn-open:after {
  content: "\f0c9";
  font-size:2rem;
  font-family: "fontawesome";
  color: #fff;
  -webkit-transition: all .3s linear 0s;
  -moz-transition: all .3s linear 0s;
  -o-transition: all .3s linear 0s;
  transition-property: all .3s linear 0s;
}

.btn-open:hover:after {
  color: rgba(255,255,255, 1);
}

.btn-close:after {
  content: "\f00d";
  font-size:2rem;
  font-family: "fontawesome";
  color: #fff;
  -webkit-transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  transition-property: all .2s linear 0s;
}

.btn-close:hover:after {
  color: rgba(0, 206, 255, 0.7);
}


/* OVERLAY NAV */

.nav {
  position: fixed;
  display: none;
  overflow: auto;
  top: 0;
  right: 0;
  width: 30%;
  min-width: 200px;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(26, 26, 26, 0.9);
  z-index: 99;
}

.menu {
  width: 100%;
  height: 100%;
  font-family:"source black", "Open Sans", sans-serif;
}

.menu ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.menu li {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 15%;
  font-size:1.5rem;
  font-weight:bold;
  list-style: none;
  text-align: center;
  -webkit-transition: all .2s linear 0s;
  -moz-transition: all .2s linear 0s;
  -o-transition: all .2s linear 0s;
  transition-property: all .2s linear 0s;
}

.menu li a {
  display: table-cell;
  color: #fff;
  vertical-align: middle;
}

.menu li:hover {
  background: rgba(0, 206, 255, 0.7);
}


/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .menu-btn {
     right: 25px;
  }
}